<h1>Siritori#send</h1>
<p>Find me in app/views/siritori/send.html.erb</p>
<body>
	<label for="send" accesskey="n">送信</label>
	<input type="text" name="char" id="char"><br>
	<label for="receive" accesskey="n">receive--</label>
	<input type="text" name="char" id="char"><br>
	<br>
	<br>
	<input type="submit" value="myself">
	<input type="submit" value="connect">
</body>
